@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Pacifico&family=Playwrite+DE+LA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-audiowide: "Audiowide", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
}

.head:default {
  color: rgb(7, 2, 2);
  text-stroke: 0.5px black;
}

.para:hover {
  color: rgb(7, 2, 2);
  text-stroke: 1px rgb(0, 0, 0);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fillText {
  from {
    -webkit-text-fill-color: transparent;
  }

  to {
    -webkit-text-fill-color: #212121
  }
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Pacifico&family=Playwrite+DE+LA:wght@100..400&display=swap');
@import "tailwindcss";

@theme {
  --font-audiowide: "Audiowide", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
}

.head:default {
  color: rgb(7, 2, 2);
  text-stroke: 0.5px black;
}

.para:hover {
  color: rgb(7, 2, 2);
  text-stroke: 1px rgb(0, 0, 0);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fillText {
  from {
    -webkit-text-fill-color: transparent;
  }

  to {
    -webkit-text-fill-color: #212121
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }
}
.containerz {
  width: 100%;
  height: 100%;
}